@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

.common{
font-family: "Raleway", sans-serif;
color: $white;
line-height: 1.1;
font-weight:lighter;
}

.transition{
  -webkit-transition: all 2s;
  transition: all 2s;

}

.resize{
position:fixed;  
height:10px;  

}

.main-navbar{
  z-index:10;
  width:100%;
  height: 13%;
  .introName{
      @extend .common;
    
      padding-left:10px;
      font-size: 1.2em;
      letter-spacing: 13px;
        
    
    
      text-transform: uppercase;
      
      
      padding-top:7px;
    }
  
  .sub-navbar{
      
    
      padding-top:20px;
      text-align: center;
      
      a{
        @extend .common;
        display:inline-block;
        font-size: 0.9em;
        letter-spacing: 8px;
        
        padding-top:10px;
        padding:20px;
      }
  }
  
  
  background-color: black;
  opacity: 0.8;
  
  
    
  
}



#contents{
    video{
      width:$fullwidth;
    }
    #me{
      min-height: 530px;
      width: 100%;
      overflow: hidden;
      text-align: center;
      
          #photo{
            padding-bottom:30px;
            width:30%;
            content:url(/img/me.jpg);  
            float: left;
          }
          #mecontent{
            background-color:rgba(158, 155, 155, 0.8);
            margin-top:10%;

            #aboutme {
              @extend .common;
              padding-left: 10px;
              font-size: 1.3em;
              letter-spacing: 13px;
              
              text-transform: uppercase;

              padding-top: 7px;
            }
            opacity:0.6;
            color: #fff;
            padding: 1.5rem;
            width: 65%;
            float: right;
            font-size: 1.2rem;

            p{
              @extend .common;

              letter-spacing: 1.5px;
              opacity: 0.8;
              padding-left:2em;


              margin-top: 1.5rem;

              font-size: 0.8rem;
            }
          }
    }
  #past{
    #next{
      background-image: url("/img/arrow.png");
      z-index:3;
      position:absolute;
      width: 512px;
      background-repeat: no-repeat;
      background-size: 50px 50px;
      height: 512px;
    }
    overflow:hidden;
    width:1500px;
    height:333px;
    #slide-holder{
      width:5500px;
      height:333px;
    }
  
  
  }
  #middlebg{
    background:url("/img/mdbackground.png") top right no-repeat; 
    background-position-x: 50%;
    width:100%;
    height:500px;
    background-attachment:fixed;
  
  
  }
  
  #experience{
    margin-left: 200px;
    margin-top: 50px;
    background-color:black;
    
    #experience1{
      float:left;
      background-repeat: no-repeat;
      width:200px;
      height:200px;
      background-image: url("/img/daumkakao.png");
      z-index:3;
      background-size: 150px 150px;
      
    }
    #experience2{
      float:left;
      background-repeat: no-repeat;
      width:200px;
      height:200px;
      background-image: url("/img/daumkakao.png");
      z-index:3;
      background-size: 150px 150px;
      
    }
    #experience3{
      float:left;
      background-repeat: no-repeat;
      width:200px;
      height:200px;
      background-image: url("/img/daumkakao.png");
      z-index:3;
      background-size: 150px 150px;
    }
    #experience4{
      float:left;
      background-repeat: no-repeat;
      width:200px;
      height:200px;
      background-image: url("/img/daumkakao.png");
      z-index:3;
      background-size: 150px 150px;
    }
  
  
  
  
  }

  
}



body {
  background-color: black;
  
}
