@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.common{
font-family: "Raleway", sans-serif;
color: $white;
line-height: 1.1;
font-weight:lighter;
}

a{
  text-decoration: none; 
  color: black;; 
}
.exbackground{
  
  margin-left: 8rem;
  margin-top: 40px;
  background-color:white;
  background-position-x: 50%;
  background-position-y: 50%;
  float:left;
  background-repeat: no-repeat;
  width:270px;
  height:200px;
  margin-right:30px;
  z-index:3;
  background-size: 200px 150px;

  i{
    display:none;
  }
  &:hover i{
    z-index:-1;
    margin-left: 38%;
    margin-top: 23%;
    display:block;
    width: 100%;
    opacity: 0.5;
    height: 100%;
  }

}

.transition{
  -webkit-transition: all 2s;
  transition: all 2s;

}

.resize{
position:fixed;  
height:10px;  

}

.main-navbar{
  z-index:10;
  width:100%;
  height: 15%;
  .highlight{
    background-color:rgba(0,0,0,0.6);
  }
  .introName{
      @extend .common;
    
      padding-left:10px;
      font-size: 1.2em;
      letter-spacing: 13px;
        
    
    
      text-transform: uppercase;
      
      
      padding-top:7px;
    }
  
  .sub-navbar{
      
    
      padding-top:8px;
      text-align: center;
      
      a{
        @extend .common;
        display:inline-block;
        font-size: 0.9em;
        letter-spacing: 8px;
        
        margin:20px;
        margin-top:10px;
      }
  }
  
  
  background-color: grey;
  opacity: 0.8;
  
  
    
  
}



#contents{
    video{
      width:$fullwidth;
    }
    #me{
      min-height: 530px;
      width: 100%;
      overflow: hidden;
      text-align: center;
      
          #photo{
            padding-bottom:30px;
            width:30%;
            content:url(/img/me.jpg);  
            float: left;
          }
          #mecontent{
            background-color:rgba(189, 189, 189, 0.51);
            margin-top:10%;

            #aboutme {
              @extend .common;
              padding-left: 10px;
              font-size: 1.3em;
              letter-spacing: 13px;
              color:white;
              text-transform: uppercase;

              padding-top: 7px;
            }
            color: #fff;
            padding: 1.5rem;
            width: 65%;
            float: right;
            font-size: 1.2rem;

            p{
              @extend .common;

              letter-spacing: 1.5px;
              opacity: 0.8;
              padding-left:2em;


              margin-top: 1.5rem;

              font-size: 0.8rem;
            }
          }
    }
  #past{
    height:550px;
    #next{
      width: 3rem;
      margin-left: 97.5%;
      font-size:1rem;
      letter-spacing:1rem;
      position:absolute;
      background-image: url("/img/disclose-arrow-copy.png");
      z-index:100;
      margin-top: 9%;
      background-repeat: no-repeat;
      background-size: 30px 30px;
      height: 512px
    }
    #previous{
      width: 3rem;
      position:absolute;
      background-position-x:20%;
      background-image: url("/img/previous.png");
      z-index:100;
      margin-top: 9%;
      background-repeat: no-repeat;
      background-size: 30px 30px;
      height: 512px
    }
    
    overflow:hidden;
    width:100%;
    height:333px;
    #slide-holder{
      box-sizing : border-box;
      margin-top: 60px;
      width:5500px;
      height:333px;
    }
  
  
  }
  #middlebg{
    background:url("/img/mdbackground.png") top right no-repeat; 
    background-position-x: 50%;
    width:100%;
    height:500px;
    background-attachment:fixed;
  
  
  }
  
  #experience{
    margin-top: 50px;
    width:100%;
    height: 35rem;
    .experience{
      a{
        z-index: 500;
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    .modalDialog {
      display:none;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 9999;
      opacity: 0;
      -webkit-transition: opacity 400ms ease-in;
      -moz-transition: opacity 400ms ease-in;
      transition: opacity 400ms ease-in;
      pointer-events: none;
      &:target {
        opacity: 1;
        pointer-events: auto;
      }
      > div {
        h3{
          padding-top: 22px;
          font-size:3rem;
          padding-bottom: 19px;
        }
        p{
          line-height: 1.6rem;
        }
        @extend .common;
        height: 20rem;
        width: 25rem;
        letter-spacing: 0.2rem;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        background:rgba(82, 82, 82, 0.96);
      }
    }

    .close {
      background: #606061;
      color: #FFFFFF;
      line-height: 25px;
      position: absolute;
      right: -12px;
      text-align: center;
      top: -10px;
      width: 24px;
      text-decoration: none;
      font-weight: bold;
      &:hover {
        background: grey;
      }
    }
    
    
    
    #experienceTit{
      letter-spacing:1rem;
      font-size:1rem;
      padding-left:40%;
      color:white;
    
    
    }
    
    
    #experience1{
      @extend .exbackground;
      background-image: url("/img/daumkakao.png");
     
  
    }
    #experience2{
      @extend .exbackground;
      background-image: url("/img/sonylogo.jpg");
      
      
    }
    #experience3{
      @extend .exbackground;
      background-image: url("/img/seal.jpg");
      
    }
    #experience4{
      @extend .exbackground;
      background-image: url("/img/rokaf.png");
      
    }
  
  
  
  
  }
  
  #contact{
    .cicon{
      margin-left: 0.5rem;
      margin-top: 1rem;
    }
    position: fixed;
    top: 0px;
    width: 10%;
    margin-left: 96%;
    background-color: rgba(255, 255, 255, 0.49);
    height: 29%;
    margin-top: 27%;
    float:right;
    z-index:100;
  
  
  }
  #qoute{
    @extend .common;
    width: 27rem;
    letter-spacing: 1rem;
    font-size: 1.2rem;
    color: white;
    margin-left: 37%;
 
  }
  #faces{
    -webkit-column-count: 3;
    -moz-column-count: 3; 
    column-count: 3;
    width: 100%;
    height: 12rem;
      
      #picasso{
        background-position-y: 2rem;
        margin-left: 13rem;
        height: 10rem;
        background-size: 10rem;
        background-repeat: no-repeat;
        background-image: url("/img/picasso.jpg");
      }
      #jobs{
        background-position-y: 4rem;
        height: 16rem;
        margin-left: 8rem;
        background-size: 13rem;
        background-repeat: no-repeat;
        background-image: url("/img/jobs.png");
      }
      #aur{
        height: 10rem;
        margin-left: 6rem;
        background-size: 13rem;
        background-repeat: no-repeat;
        background-image: url("/img/Aurelius.jpg");
      }
    }
  #qoutes{
    @extend .common;
    h1{
      font-size: 1.2em;
      letter-spacing: 13px;
      margin-bottom:1rem;
    }
    p{
      letter-spacing: 0.1rem;
    }
    #first{padding-bottom: 2rem;}
    margin-left: 14%;
    padding-top: 5%;
    width: 80%;
    height: 100%;
    -webkit-column-count: 3;
    -moz-column-count: 3; 
    column-count: 3;
  }
  #blank{
    height:30rem;
  
  }

  
}

footer{
  background-color:grey;
  @extend .common;
  letter-spacing: 1rem;
  color: white;
  width:100%;
  font-size: 0.5rem;
  padding-left: 10%;
}


body {
  background-color: black;
  
}



